html {
    background-color: #c77dff;
}
#skill-cards-container {
    padding: 40px;
    margin: 100px;
    background-color: #e0aaff ;
    width: 80%;
    box-shadow: 10px 15px 10px #9d4edd;
    border: 5px solid #c77dff;
}

.skill-image {
    border-radius: 8px;
    margin: auto;
    width: 60%;
    border: 3px solid #c77dff ;
    padding: 10px;
    display: block;
}

.skill-name {
    text-align: center;
}

.skill-description {
    font-family:'Segoe UI','Open Sans', 'Helvetica Neue', sans-serif;
    text-align: justify;  
}



