body {
    padding: 1rem;
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
    color: white ;
}
.imgback {
    position: fixed;
    left: 0px;
    top: 0px;
    z-index: -1;
    width: 100%;
    height: 100%;
    -webkit-filter: blur(3px);
    filter: blur(3px);

}
.logo {
    display: inline-block;
    vertical-align: top;
    width: 70px;
    height: 70px;
    margin-right: 20px;
    margin-top: 5px;
    box-shadow: 3px 4px black;
}
#navbar {
    overflow: hidden;   
    background-color:transparent;
    width: 100%;
    height: 80px;
    position: fixed;
    z-index: 2;
}
#navbar a {
    display: inline-block;
    vertical-align: top;
    margin-right: 20px;
    height: 50px;
    line-height: 50px;
    color: white;
    text-decoration: none;
  }
  #navbar a:hover {
    background-color: white;
    color: #8429df;
    border-radius: 5px;
}